.talk-to-us-btn-conatainer {
    min-width: 150px;
    background-color: #160156;
    border-style: solid;
    border-width: 0;
    border-radius: 48px;
    flex-shrink: 0;
    align-items: center;
    gap: 24px;
    text-decoration: none;
    color: #fff;
    padding: 4px 7px 4px 32px;
    cursor: pointer;
    font-weight: 500;
}

.btn-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.audit-btn {
    background-color: transparent;
    border: 1px solid #060237;
    border-radius: 48px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    gap: 0px;
    justify-content: flex-start;
    line-height: 27px;
    padding: 18px 48px;
    text-align: center;
    align-items: center;
    color: #060237;
    display: flex;
    line-height: 24px;
    cursor: pointer;
    min-width: 250px;
}


.navbar-buttons-container {
    align-items: center;
    border: 1px solid #d3c3f8;
    border-radius: 48px;
    color: transparent;
    display: flex;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
    line-height: 27px;
    padding: 6px;
    margin: 0px 20px;
}


.navbar-btn {
    border: 0;
    color: #140152;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
    padding: 8px 28px;
    text-align: left;
    text-transform: capitalize;
    border-radius: 48px;
    cursor: pointer;
    background-color: transparent;
}

.selected {
    background-color: #f6f3ff
}

/* .audit-btn:hover {
    background-color: #160156;
    color: #fff;
    transition: 0.5s ease-in-out
} */

.navbar-btn:hover {
    background-color: #f6f3ff;
    transition: 0.2s ease-in-out
}


@media screen and (max-width: 990px) {

    /* .navbar-buttons-container {
        display: none
    }  */
    .talk-to-us-btn-conatainer {
        padding: 4px 7px 4px 48px;
    }

}